@charset "UTF-8";
/*
    Création du fond et des espaces de jeu
 */
body {
  font-family: "Lato", sans-serif;
  padding: auto;
}

.containerInfos {
  margin-top: 5%;
}

.rules {
  position: absolute;
  z-index: 10000;
  width: 60%;
  font-size: 1.2em;
  background-color: white;
  line-height: 1.4em;
  padding: 5vh;
  top: -1000px;
}

.close {
  padding: 1vh 1vw;
  border-radius: 15px;
  background-color: #e07b7b;
  color: white;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
}

.close:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.containerPlayer {
  z-index: -1;
  width: 80vw;
  height: 80vh;
}

.player1,
.player2 {
  opacity: 0;
  margin-top: -5vh;
}

.player1 {
  background-color: lightblue;
  top: -100px;
}

.player2 {
  background-color: lightsalmon;
  top: 100px;
}

.player1Name,
.player2Name {
  height: 10vh;
  font-size: 2.8rem;
}

.player2Name {
  margin: 18vh 0 18vh 4vw;
}

.player1Name {
  margin: 18vh 4vw 18vh 0;
}

.white-text {
  font-size: 2em;
  text-shadow: 1px 1px 2px black;
}

/*
  class active
*/
.active {
  background-color: #ececec;
}

.score {
  min-width: 100px;
  border-radius: 15px;
  padding: auto;
  font-size: 2em;
  background-color: #d63e5d;
}

.scorePlayer1 {
  opacity: 0;
  left: -200px;
}

.scorePlayer2 {
  opacity: 0;
  right: -200px;
}

/* 
    Création de l'interface des joueurs
*/
.newGame {
  height: 20vh;
}

.newGame h3 {
  padding: 1vh 1vw;
  font-size: 0.8em;
  background-color: rgba(253, 253, 253, 0.2);
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  border-radius: 15px;
}

.newGame h3:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.newGame,
.player,
.dice {
  opacity: 0;
}

.player button {
  margin-top: 10vh;
  font-size: 1.6em;
}

.win {
  width: 100vw;
  background-color: #e0ae6d;
}

h4 {
  opacity: 0;
}

/*
    Création du dé
*/
.dice {
  display: -ms-grid;
  display: grid;
  grid-gap: 4rem;
  -ms-grid-columns: (minmax(8rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.dice-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr;
      grid-template-columns: 0.5fr;
  -ms-grid-rows: 0.5fr;
      grid-template-rows: 0.5fr;
  list-style-type: none;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.even-roll {
  -webkit-transition: -webkit-transform 1.5s ease-out;
  transition: -webkit-transform 1.5s ease-out;
  transition: transform 1.5s ease-out;
  transition: transform 1.5s ease-out, -webkit-transform 1.5s ease-out;
}

.odd-roll {
  -webkit-transition: -webkit-transform 1.25s ease-out;
  transition: -webkit-transform 1.25s ease-out;
  transition: transform 1.25s ease-out;
  transition: transform 1.25s ease-out, -webkit-transform 1.25s ease-out;
}

.dice-item {
  background-color: #ffffff;
  -webkit-box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3), inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3), inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
      grid-template-areas: "one two three" "four five six" "seven eight nine";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 1.1rem;
  width: 100%;
}

.dot {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #ff3a3a;
  border-radius: 50%;
  -webkit-box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
          box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 1.25rem;
}

.dot_1 {
  background-color: green;
}

.even-roll[data-roll="1"] {
  -webkit-transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
          transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="2"] {
  -webkit-transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
          transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="3"] {
  -webkit-transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
          transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}

.even-roll[data-roll="4"] {
  -webkit-transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
          transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}

.even-roll[data-roll="5"] {
  -webkit-transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
          transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="6"] {
  -webkit-transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
          transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}

.odd-roll[data-roll="1"] {
  -webkit-transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
          transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="2"] {
  -webkit-transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
          transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="3"] {
  -webkit-transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
          transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}

.odd-roll[data-roll="4"] {
  -webkit-transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
          transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}

.odd-roll[data-roll="5"] {
  -webkit-transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
          transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="6"] {
  -webkit-transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
          transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}

[data-side="1"] {
  -webkit-transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
          transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}

[data-side="2"] {
  -webkit-transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
          transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}

[data-side="3"] {
  -webkit-transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
          transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}

[data-side="4"] {
  -webkit-transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
          transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}

[data-side="5"] {
  -webkit-transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
          transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}

[data-side="6"] {
  -webkit-transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
          transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}

[data-side="1"] .dot:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: five;
}

[data-side="2"] .dot:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

[data-side="2"] .dot:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: nine;
}

[data-side="3"] .dot:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

[data-side="3"] .dot:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: five;
}

[data-side="3"] .dot:nth-of-type(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: nine;
}

[data-side="4"] .dot:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

[data-side="4"] .dot:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: three;
}

[data-side="4"] .dot:nth-of-type(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: seven;
}

[data-side="4"] .dot:nth-of-type(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: nine;
}

[data-side="5"] .dot:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

[data-side="5"] .dot:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: three;
}

[data-side="5"] .dot:nth-of-type(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: five;
}

[data-side="5"] .dot:nth-of-type(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: seven;
}

[data-side="5"] .dot:nth-of-type(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: nine;
}

[data-side="6"] .dot:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

[data-side="6"] .dot:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: three;
}

[data-side="6"] .dot:nth-of-type(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: four;
}

[data-side="6"] .dot:nth-of-type(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: six;
}

[data-side="6"] .dot:nth-of-type(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: seven;
}

[data-side="6"] .dot:nth-of-type(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: nine;
}

@media screen and (max-width: 998px) {
  .containerPlayer {
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .newGame {
    font-size: 3em;
  }
  .player1Name,
  .player2Name {
    margin-top: 36vh;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  .score {
    margin-top: 8vh;
    font-size: 1em;
    background: rgba(221, 70, 70, 0.8);
  }
  .player button {
    font-size: 1em;
    background-color: rgba(82, 81, 81, 0.1);
    color: white;
    -webkit-box-shadow: 1px 1px 5px black;
            box-shadow: 1px 1px 5px black;
  }
}

@media screen and (max-width: 540px) and (max-height: 700px) {
  .rules {
    font-size: 0.9em;
  }
  .player1Name,
  .player2Name {
    font-size: 1.5em;
  }
  .player {
    margin-top: 6vh;
  }
  .player button {
    font-size: 1em;
    background-color: rgba(82, 81, 81, 0.1);
    color: white;
    -webkit-box-shadow: 1px 1px 5px black;
            box-shadow: 1px 1px 5px black;
  }
}
/*# sourceMappingURL=style.css.map */